.infBox{
    height:130px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    cursor:pointer;
}

.leftInf{
    width:70%;
    height:130px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.rightInf{
    width:7%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgPizza{
    height:130px;
    width:200px;
    border-radius: 10px;
    cursor:pointer;
}

@media only screen and (max-width: 550px){
    .imgPizza{
        height:90px;
        width:150px;
        border-radius: 10px;
        cursor:pointer;
    }
    .infBox{
        height:110px;
    }

.leftInf{
        height:115px;

    }
}